# 自定义镜像
# ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://mirrors.huaweicloud.com/electron/

# Electron Builder 下载二进制文件时的镜像地址
# ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_BUILDER_BINARIES_MIRROR=https://mirrors.huaweicloud.com/electron-builder-binaries/


# Electron缓存目录
electron_config_cache=./.cache/electron_cache/

